name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go-ci:
    uses: matt-riley/matt-riley-ci/.github/workflows/go-ci.yml@v1

  go-lint:
    uses: matt-riley/matt-riley-ci/.github/workflows/go-lint.yml@v1
