name: Release

on:
  push:
    branches: [main]

jobs:
  release-please:
    uses: matt-riley/matt-riley-ci/.github/workflows/release-please.yml@v1
    secrets: inherit

  goreleaser:
    needs: release-please
    if: needs.release-please.outputs.release_created == 'true'
    uses: matt-riley/matt-riley-ci/.github/workflows/go-goreleaser.yml@v1
    secrets: inherit
